<div class="filter">
    <h3>Services</h3>

    <ul class="list-group">
        <li class="list-group-item">

            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">

                <span class = "caret"> <a href = "#"><img src="../images/tuskys.png" width="100" /> </a></span>
            </a>
            <ul class = "dropdown-menu" role = "menu">
                <li><a href = "#"><img src="../images/tuskys.png" width="100" /> </a></li>
                <li><a href = "#"><img src="../images/nakumatt.jpg" width="100" /></a></li>
                <li><a href = "#"><img src="../images/naivas.jpg" width="100" /></a></li>
                <li><a href = "#"><img src="../images/ukwala.jpg" width="100" /></a></li>
            </ul>


        </li>
    </ul>
    <ul class="list-group">

        <li class="list-group-item">

            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Food & Beverages
                <span class = "caret"></span>
            </a>

            <ul class = "dropdown-menu" role = "menu">
                <li><a href = "#">Beverages</a></li>
                <li><a href = "#">Bakery</a></li>
                <li><a href = "#">Meat</a></li>
                <li><a href = "#">Dairy Product</a></li>
            </ul>

        </li>
        <li class="list-group-item"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Toiletries
            <span class = "caret"></span>
        </a>

            <ul class = "dropdown-menu" role = "menu">
                <li><a href = "#">Tissue Paper</a></li>
                <li><a href = "#">Detergent</a></li>
                <li><a href = "#">Washing Powder</a></li>
                <li><a href = "#">Soap</a></li>
            </ul></li>
        <li class="list-group-item"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Home & Living
            <span class = "caret"></span>
        </a>

            <ul class = "dropdown-menu" role = "menu">
                <li><a href = "#">Household Supplies</a></li>
                <li><a href = "#">Kitchen and Dining</a></li>
                <li><a href = "#">Beddings</a></li>
                <li><a href = "#">Bathroom Accesories</a></li>
            </ul></li>
        <li class="list-group-item"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Appliances
            <span class = "caret"></span>
        </a>

            <ul class = "dropdown-menu" role = "menu">
                <li><a href = "#">TV</a></li>
                <li><a href = "#">Cameras</a></li>
                <li><a href = "#">kitchen Appliances</a></li>
                <li><a href = "#">Grooming Appliances</a></li>
            </ul></li>
        <li class="list-group-item"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Computers & Laptops
            <span class = "caret"></span>
        </a>

            <ul class = "dropdown-menu" role = "menu">
                <li><a href = "#">Printers and Scanners</a></li>
                <li><a href = "#">Laptops</a></li>
                <li><a href = "#">Desktops</a></li>
                <li><a href = "#">Softwares</a></li>
            </ul></li>
        <li class="list-group-item"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Mobile & Tablets
            <span class = "caret"></span>
        </a>

           </li>
        <li class="list-group-item"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Sporting Goods
            <span class = "caret"></span>
        </a>

            <ul class = "dropdown-menu" role = "menu">
                <li><a href = "#">Gymnastics</a></li>
                <li><a href = "#">Fitness</a></li>
                <li><a href = "#">Indoor sports</a></li>
                <li><a href = "#">Outdoor Sports</a></li>
            </ul></li>
        <li class="list-group-item"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Womens Fashion
            <span class = "caret"></span>
        </a>

            <ul class = "dropdown-menu" role = "menu">
                <li><a href = "#">Shoes</a></li>
                <li><a href = "#">Clothes</a></li>
                <li><a href = "#">Bags</a></li>
                <li><a href = "#">Accesories</a></li>
            </ul></li>
        <li class="list-group-item"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Men`s Fashion

            <span class = "caret"></span>
        </a>

            <ul class = "dropdown-menu" role = "menu">
                <li><a href = "#">Shoes</a></li>
                <li><a href = "#">Clothes</a></li>
                <li><a href = "#">Bags</a></li>
                <li><a href = "#">Accesories</a></li>
            </ul></li>
        <li class="list-group-item"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Kids& Babies

            <span class = "caret"></span>
        </a>

            <ul class = "dropdown-menu" role = "menu">
                <li><a href = "#">Clothes</a></li>
                <li><a href = "#">Shoes</a></li>
                <li><a href = "#">Diappering</a></li>
                <li><a href = "#">Baby Furniture</a></li>
            </ul></li>
    </ul>
</div>


<div class="row">
	<form action="/search" id="search_form" method="post">
		<div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 search-bar">
            <div class="col-md-12">
                <div class="search-bar-input input-group">
                    <input type="text" name="frm_search" id="frm_search" class="form-control input-lg" placeholder="Search the shop">
                    <span class="input-group-btn">
                        <button class="btn btn-success btn-lg" id="btn_search" type="submit">Search</button>
                        <a href="/" class="hidden-xs btn btn-warning btn-lg"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </span>
                </div>
            </div>
		</div>
	</form>
</div>
<div class="row">	
	<div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        {{#if filtered}}
            <div class="product-layout left-pad-30 col-md-12">
                <strong>Showing results for: {{search_term}}</strong>
            </div>
        {{/if}}
        <div class="product-layout col-md-12">
            {{#ifCond results.length '==' 0}}
                <div class="col-md-12">
                    <p class="text-danger">No products found</p>
                </div>
            {{/ifCond}}
            {{#each results}}
                <div class="col-md-3">
                    <div class="thumbnail">
                        {{#if product_permalink}}
                            <div class="product_wrapper">
                                <a href="/product/{{this.product_permalink}}">
                                    <div class="vertical-center thumbnail-image-container">
                                        {{#if product_image}}
                                            <img class="img-responsive" src="{{this.product_image}}" alt="...">
                                        {{else}}
                                            <img class="img-responsive" src="/uploads/placeholder.png" alt="...">
                                        {{/if}}
                                    </div>
                                    <h3 class="product-title product-title-home top-pad-10">
                                        {{this.product_title}}
                                    </h3>
                                </a>
                            </div>
                        {{else}}                     
                            <a href="/product/{{this._id}}">
                                <div class="vertical-center thumbnail-image-container">
                                    {{#if product_image}}
                                        <img class="img-responsive" src="{{this.product_image}}" alt="...">
                                    {{else}}
                                        <img class="img-responsive" src="/uploads/placeholder.png" alt="...">
                                    {{/if}}
                                </div>
                                <h3 class="product-title product-title-home top-pad-10">
                                    {{this.product_title}}
                                </h3>
                            </a>
                        {{/if}}
                        <h3 class="product-price text-center">
                          ksh  {{format_amount product_price}}
                        </h3>
                        <p class="text-center">
                            <a class="btn btn-primary add-to-cart" data-id="{{this._id}}" role="button">Add to cart</a>
                        </p>
                    </div>
                </div>
            {{/each}}
        </div>
	</div>
</div>